<p> Results </p>
<table>
    {{ range . }}
        <tr>
            <td>{{ .Submitter }}</td>
            <td>{{ .Challenge }}</td>
            <td>{{ if .Pass }}Pass {{ else }}Fail{{ end }}</td>
        </tr>
    {{ end }} 
</table>
<p><a href="../index.html">Back to challenges</a></p>
